@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply bg-blue-500 text-white hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition-colors;
}

.btn-primary-alt {
  @apply bg-white text-blue-500 px-4 py-2 rounded;
}

.btn-secondary {
  @apply bg-gray-500 text-white px-4 py-2 rounded;
}

.btn-success {
  @apply bg-green-500 text-white px-4 py-2 rounded;
}

.btn-danger {
  @apply bg-red-500 text-white px-4 py-2 rounded;
}